@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #1a1a1a;
  --acc-color: #0808b7;

  --card-bg-1-color: #161616;
  --card-bg-4-color: #1c1c1c;
  --card-bg-2-color: #252525;
  --card-bg-3-color: #424242;

  --color-1: #e5e5e5;
  --color-2: #8e8e8e;

  --size-font-1: 1rem;
  --size-font-2: 1.2rem;
  --size-font-3: 1.5rem;
  --size-font-4: 2rem;
}

body {
  background-color: var(--bg-color);
  color: var(--color-text-1);
  font-size: var(--size-font-2);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  /* padding-block: 3em; */
}
