.input-field {
  width: 100%;
  border: none;
  padding: 14px;
  line-height: 16px;
  resize: none;
  border: 1px solid var(--card-bg-3-color);
  font-size: var(--size-font-2);
  font-weight: 300;
  font-family: inherit;
  color: inherit;
  overflow: hidden;
  display: block;
  direction: ltr;
  background-color: transparent;
}

#input-date {
  color: var(--card-bg-1-color);
  font-size: var(--size-font-1);
}
