:root {
  --sidebar-width: 300px;
  --sidebar-width-medium: 250px;
  --sidebar-width-small: 200px;

  --sidebar-close-width: 150px;
  --sidebar-close-width-medium-large: 100px;
  --sidebar-close-width-medium: 50px;
  --sidebar-close-width-small: 10px;

  --sidebar-open-offset: calc(
    var(--sidebar-width) - var(--sidebar-close-width)
  );
  --sidebar-open-offset-medium: calc(var(--sidebar-width) - 200px;);
  --sidebar-open-offset-small: calc(var(--sidebar-width) - 250px);
}

.app-sidebar {
  position: absolute;
  width: var(--sidebar-width);
  height: 100%;
  opacity: 0;
  background-color: var(--card-bg-2-color);
  transform: translateX(
    calc(var(--sidebar-width) * -1 - var(--sidebar-close-width) * -1)
  );
  transition-property: opacity, transform, width;
  transition-duration: 0.5s;
  z-index: 2;
}

.app-sidebar.stick {
  transform: none;
  opacity: 1;
}

.app-sidebar:hover {
  transform: none;
  opacity: 1;
}

.account,
.group-items,
.grp-header,
.clear-data-section {
  padding: 0 1.5em;
}

.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  height: var(--size-header);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-right: 0.4em;
}

.setting-user-name {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* .setting {
  position: fixed;
  left: 1.5em;
  top: 1.5em;
  border: 2px solid var(--acc-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left, top, width, height;
  transition-duration: 0.5s;
} */

.left-bar {
  position: fixed;
  left: 0;
  top: 2em;
  width: 0.2em;
  height: 2em;
  background-color: var(--acc-color);
}

.pin {
  background-color: transparent;
  border: none;
}

.group-items {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

.my-lists {
  font-size: 1.5rem;
  font-weight: 400;
}

.clear-data-section {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding-block: 1em;
  position: absolute;
  bottom: -0px;
}

.clear-data-section button {
  border: none;
  padding: 0.3em;
  background-color: red;
}

@media (max-width: 1000px) {
  /* .setting {
    left: 1em;
    top: 1em;
    width: 30px;
    height: 30px;
  } */
  .app-sidebar {
    position: fixed;
    width: var(--sidebar-width-medium);
  }
}

@media (max-width: 700px) {
  .app-sidebar {
    /* display: fixed; */
    width: var(--sidebar-width-small);
    /* background-color: var(--color-3); */
  }
}
