.group-categories {
  overflow-y: scroll;
  height: 60vh;
}

.group-categories::-webkit-scrollbar {
  width: 0.2em;
}

.group-categories::-webkit-scrollbar-thumb {
  background-color: var(--acc-color);
  border-radius: 20px;
}

.add-group-input-field {
  margin-left: 2.2em;
  margin-block: 1em;
  padding: 0 0.4em;
  width: calc(var(--sidebar-width) - 4.2em);
  height: 35px;
}

.grp-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.4em 0;
  padding-left: 1.7em;
  margin: 0.3em 0;
  color: var(--color-2);
}

.grp-div h3 {
  font-family: inherit;
  font-weight: 300;
}

.grp-div:hover {
  background-color: var(--card-bg-2-color);
}

.grp-del-btn img {
  display: block;
  width: 18px;
}

.grp-del-btn.hidden img {
  display: none;
}

.grp-del-btn img:hover {
  display: block;
  width: 18px;
}
