.title-div--entry {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 0.5em;
  margin-block: 0.5em;
  background-color: var(--card-bg-2-color);
  height: 70px;
  width: 100%;
  z-index: 1;
}

.title-div--entry.checked {
  color: var(--color-3);
}

.group--entry {
  font-size: var(--size-font-1);
}

.due-date--entry {
  font-size: var(--size-font-1);
  background-color: var(--card-bg-4-color);
  padding: 1px 4px;
  margin: 0 4px;
}

.check--entry {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #424242;
}

.check--entry.checked {
  background-color: #000;
  border: 5px solid #8e8e8e;
}

.title--entry {
  font-size: var(--size-font-2);
  margin: 0.2em;
  font-weight: 300;
}

.group--entry,
.due-date--entry {
  color: var(--color-2);
}

.group--entry.checked,
.due-date--entry.checked {
  color: var(--color-3);
}

.title-header--entry {
  position: absolute;
  background-color: transparent;
  right: 0.5em;
}

.title-header--entry.hidden {
  display: none;
}

.del-btn--entry {
  border: none;
  background-color: transparent;
}

.del-icon--entry {
  height: 20px;
}
